// Place all the styles related to the hed controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.top-text{
	margin: 0 auto;
	text-align: center;
	padding-top: 150px;
}

.regi{
	margin: 0 auto;
	text-align: center;
}

.btn.btn-success{
	width: 280px;
	margin-top: 10px;
}

.nav.navbar-nav{
	width: 500px;
}


.top-about{
	width: 200px;
}

.nav > li > a{
	padding:0;
}

.footer-text{
	width: 300px;
	float: right;
	text-align: left;
}