<body>
<header>
	<%= render 'hed/bar', hed: @hed %>
</header>

<body>
 <div class="top-text">
 	<h1>
 		Welcome to <span class="glyphicon glyphicon-book" aria-hidden="true">Bookers!</span>
 	</h1>
 </div>
</body>

<footer>
	<div class="footer-text">CopyRight Infratop.inc</div>
</footer>
</html>